body {
  margin: 0px auto;
  /* width: 80%; */
}
.heading {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  margin: 0px auto;
  background-color: blue;
}
/* body {
  width: 95%;
} */
.logo {
  width: 200px;
  float: left;
  height: 70px;
  color: rgb(233, 231, 231);
  font-size: 30px;
  font-family: "Arial";
  margin-top: 30px;
  margin-left: 100px;
}
.manu {
  width: 394px;
  float: left;
  height: 70px;
}
.manu ul {
  float: left;
  display: flex;
  /* align-items: center; */
  list-style: none;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 320px;
}
.manu ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
  /* width: 40px;
  height: 20px; */
}
.manu ul li a:hover {
  background-color: white;
  /* color: blue; */
}
.manu ul li {
  height: 30px;
  margin-left: 45px;
  margin-top: 10px;
  font-family: "arial";
  font-weight: bold;
}
.manu ul li a:hover {
  color: blue;
}
.sec1 {
  border: 6px solid rgba(128, 128, 128, 0.397);
  width: 1050px;
  height: 400px;
  margin-left: 100px;
  margin-top: 70px;
}
.sec11 {
  margin-left: 40px;
  margin-right: 40px;
}
.sec1 h1 {
  color: black;
  font-family: "Calibri";
  margin-right: 550px;
  font-size: 30px;
  word-spacing: 2px;
}
.sec1 p {
  color: gray;
  font-family: "Calibri";
  font-size: 13px;
  margin-left: 350px;
}
.sec1 .img {
  float: left;
}
.sec1 .btn {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: blue;
}
.sec1 .btn a {
  color: white;
  text-decoration: none;
}
.sec1 .btn a:hover {
  background-color: white;
  color: blue;
}
.sec11 p a {
  color: black;
}
.downsec {
  height: 460px;
  margin-left: 100px;
  margin-top: 50px;
}
.leftsec {
  width: 30%;
  float: left;
}
.leftsec h3 {
  font-family: "serif";
}
.leftsec .btn1 {
  margin-top: 20px;
  background-color: blue;
  border: none;
  height: 25px;
  border-radius: 5px;
  color: white;
}
.leftsec p {
  color: gray;
  margin-bottom: 30px;
}
.rightsec {
  margin-left: 420px;
  margin-right: 100px;
}
.rightsec h3 {
  margin-top: 30px;
}
.rightsec p {
  color: gray;
}
.rightsec .btn3 {
  width: 100px;
  height: 30px;
  margin-top: 30px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
.rightsec .btn3 a {
  text-decoration: none;
  color: white;
}
footer {
  width: 100%;
  height: 100px;
  background-color: blue;
  color: white;
}
footer div {
  align-items: center;
  word-spacing: 3px;
  font-family: "Arial";
  padding-top: 40px;
  padding-left: 380px;
  font-size: 11px;
}
footer div span a {
  color: white;
}
